In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
customer_df = pd.read_csv('customers.csv')

In [3]:
product_df = pd.read_csv('products.csv')

In [4]:
transaction_df = pd.read_csv('Transactions.csv')

In [5]:
customer_df

    CustomerID        CustomerName         Region  SignupDate
0        C0001    Lawrence Carroll  South America  2022-07-10
1        C0002      Elizabeth Lutz           Asia  2022-02-13
2        C0003      Michael Rivera  South America  2024-03-07
3        C0004  Kathleen Rodriguez  South America  2022-10-09
4        C0005         Laura Weber           Asia  2022-08-15
..         ...                 ...            ...         ...
195      C0196         Laura Watts         Europe  2022-06-07
196      C0197    Christina Harvey         Europe  2023-03-21
197      C0198         Rebecca Ray         Europe  2022-02-27
198      C0199      Andrea Jenkins         Europe  2022-12-03
199      C0200         Kelly Cross           Asia  2023-06-11

[200 rows x 4 columns]

In [6]:
product_df

   ProductID              ProductName     Category   Price
0       P001     ActiveWear Biography        Books  169.30
1       P002    ActiveWear Smartwatch  Electronics  346.30
2       P003  ComfortLiving Biography        Books   44.12
3       P004            BookWorld Rug   Home Decor   95.69
4       P005          TechPro T-Shirt     Clothing  429.31
..       ...                      ...          ...     ...
95      P096     SoundWave Headphones  Electronics  307.47
96      P097       BookWorld Cookbook        Books  319.34
97      P098         SoundWave Laptop  Electronics  299.93
98      P099   SoundWave Mystery Book        Books  354.29
99      P100        HomeSense Sweater     Clothing  126.34

[100 rows x 4 columns]

In [7]:
transaction_df

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68
...,...,...,...,...,...,...,...
995,T00496,C0118,P037,2024-10-24 08:30:27,1,459.86,459.86
996,T00759,C0059,P037,2024-06-04 02:15:24,3,1379.58,459.86
997,T00922,C0018,P037,2024-04-05 13:05:32,4,1839.44,459.86
998,T00959,C0115,P037,2024-09-29 10:16:02,2,919.72,459.86
999,T00992,C0024,P037,2024-04-21 10:52:24,1,459.86,459.86

In [8]:
final_df = pd.merge(transaction_df, customer_df, on='CustomerID', how='inner')
final_df = pd.merge(final_df, product_df, on=['ProductID','Price'], how='inner')

In [9]:
final_df

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price,CustomerName,Region,SignupDate,ProductName,Category
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,Andrea Jenkins,Europe,2022-12-03,ComfortLiving Bluetooth Speaker,Electronics
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,Brittany Harvey,Asia,2024-09-04,ComfortLiving Bluetooth Speaker,Electronics
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,Kathryn Stevens,Europe,2024-04-04,ComfortLiving Bluetooth Speaker,Electronics
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,Travis Campbell,South America,2024-04-11,ComfortLiving Bluetooth Speaker,Electronics
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,Timothy Perez,Europe,2022-03-15,ComfortLiving Bluetooth Speaker,Electronics
...,...,...,...,...,...,...,...,...,...,...,...,...
995,T00496,C0118,P037,2024-10-24 08:30:27,1,459.86,459.86,Jacob Holt,South America,2022-01-22,SoundWave Smartwatch,Electronics
996,T00759,C0059,P037,2024-06-04 02:15:24,3,1379.58,459.86,Mrs. Kimberly Wright,North America,2024-04-07,SoundWave Smartwatch,Electronics
997,T00922,C0018,P037,2024-04-05 13:05:32,4,1839.44,459.86,Tyler Haynes,North America,2024-09-21,SoundWave Smartwatch,Electronics
998,T00959,C0115,P037,2024-09-29 10:16:02,2,919.72,459.86,Joshua Hamilton,Asia,2024-11-11,SoundWave Smartwatch,Electronics
999,T00992,C0024,P037,2024-04-21 10:52:24,1,459.86,459.86,Michele Cooley,North America,2024-02-05,SoundWave Smartwatch,Electronics

In [10]:
final_df.drop(columns = ['CustomerName','ProductName'],axis = 1,inplace = True)

In [11]:
final_df

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price,Region,SignupDate,Category
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,Europe,2022-12-03,Electronics
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,Asia,2024-09-04,Electronics
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,Europe,2024-04-04,Electronics
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,South America,2024-04-11,Electronics
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,Europe,2022-03-15,Electronics
...,...,...,...,...,...,...,...,...,...,...
995,T00496,C0118,P037,2024-10-24 08:30:27,1,459.86,459.86,South America,2022-01-22,Electronics
996,T00759,C0059,P037,2024-06-04 02:15:24,3,1379.58,459.86,North America,2024-04-07,Electronics
997,T00922,C0018,P037,2024-04-05 13:05:32,4,1839.44,459.86,North America,2024-09-21,Electronics
998,T00959,C0115,P037,2024-09-29 10:16:02,2,919.72,459.86,Asia,2024-11-11,Electronics
999,T00992,C0024,P037,2024-04-21 10:52:24,1,459.86,459.86,North America,2024-02-05,Electronics

In [12]:
final_df['TransactionDate'] = pd.to_datetime(final_df['TransactionDate'])
final_df['SignupDate'] = pd.to_datetime(final_df['SignupDate'])

In [13]:
final_df

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price,Region,SignupDate,Category
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,Europe,2022-12-03,Electronics
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,Asia,2024-09-04,Electronics
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,Europe,2024-04-04,Electronics
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,South America,2024-04-11,Electronics
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,Europe,2022-03-15,Electronics
...,...,...,...,...,...,...,...,...,...,...
995,T00496,C0118,P037,2024-10-24 08:30:27,1,459.86,459.86,South America,2022-01-22,Electronics
996,T00759,C0059,P037,2024-06-04 02:15:24,3,1379.58,459.86,North America,2024-04-07,Electronics
997,T00922,C0018,P037,2024-04-05 13:05:32,4,1839.44,459.86,North America,2024-09-21,Electronics
998,T00959,C0115,P037,2024-09-29 10:16:02,2,919.72,459.86,Asia,2024-11-11,Electronics
999,T00992,C0024,P037,2024-04-21 10:52:24,1,459.86,459.86,North America,2024-02-05,Electronics

In [14]:
final_df['TransactionDate'].dt.day.max()

31

In [15]:
time = pd.Timestamp('2024-12-31')
Recent = final_df.groupby('CustomerID')['TransactionDate'].max().apply(lambda x: (time-x).days)

In [16]:
Recent

CustomerID
C0001     58
C0002     27
C0003    128
C0004      7
C0005     56
        ...
C0196     15
C0197      3
C0198     87
C0199     65
C0200     19
Name: TransactionDate, Length: 199, dtype: int64

In [17]:
frequency = final_df.groupby('CustomerID')['TransactionID'].count()

In [18]:
frequency

CustomerID
C0001    5
C0002    4
C0003    4
C0004    8
C0005    3
        ..
C0196    4
C0197    3
C0198    2
C0199    4
C0200    5
Name: TransactionID, Length: 199, dtype: int64

In [19]:
total_spend = final_df.groupby('CustomerID')['TotalValue'].sum()

In [20]:
total_spend

CustomerID
C0001    3354.52
C0002    1862.74
C0003    2725.38
C0004    5354.88
C0005    2034.24
          ...
C0196    4982.88
C0197    1928.65
C0198     931.83
C0199    1979.28
C0200    4758.60
Name: TotalValue, Length: 199, dtype: float64

In [21]:
category = final_df.groupby(['CustomerID','Category']).size().unstack(fill_value = 0)

In [22]:
category

Category    Books  Clothing  Electronics  Home Decor
CustomerID
C0001           1         0            3           1
C0002           0         2            0           2
C0003           0         1            1           2
C0004           3         0            2           3
C0005           0         0            2           1
...           ...       ...          ...         ...
C0196           1         1            0           2
C0197           0         0            2           1
C0198           0         1            1           0
C0199           0         0            2           2
C0200           1         2            1           1

[199 rows x 4 columns]

In [23]:
final_features = pd.DataFrame({'Recent':Recent,'Frequency': frequency,'Total_spend':total_spend}).join(category).reset_index()

In [24]:
final_features

,CustomerID,Recent,Frequency,Total_spend,Books,Clothing,Electronics,Home Decor
0,C0001,58,5,3354.52,1,0,3,1
1,C0002,27,4,1862.74,0,2,0,2
2,C0003,128,4,2725.38,0,1,1,2
3,C0004,7,8,5354.88,3,0,2,3
4,C0005,56,3,2034.24,0,0,2,1
...,...,...,...,...,...,...,...,...
194,C0196,15,4,4982.88,1,1,0,2
195,C0197,3,3,1928.65,0,0,2,1
196,C0198,87,2,931.83,0,1,1,0
197,C0199,65,4,1979.28,0,0,2,2
198,C0200,19,5,4758.60,1,2,1,1

In [25]:
from sklearn.preprocessing import StandardScaler
features = final_features.drop(columns = ['CustomerID'])
scaler = StandardScaler()
standardized_features = scaler.fit_transform(features)

In [27]:
features

     Recent  Frequency  Total_spend  Books  Clothing  Electronics  Home Decor
0        58          5      3354.52      1         0            3           1
1        27          4      1862.74      0         2            0           2
2       128          4      2725.38      0         1            1           2
3         7          8      5354.88      3         0            2           3
4        56          3      2034.24      0         0            2           1
..      ...        ...          ...    ...       ...          ...         ...
194      15          4      4982.88      1         1            0           2
195       3          3      1928.65      0         0            2           1
196      87          2       931.83      0         1            1           0
197      65          4      1979.28      0         0            2           2
198      19          5      4758.60      1         2            1           1

[199 rows x 7 columns]

In [29]:
standardized_df = pd.DataFrame(standardized_features,columns = features.columns,index = final_features['CustomerID'])

In [31]:
standardized_df

,Recent,Frequency,Total_spend,Books,Clothing,Electronics,Home Decor
CustomerID,,,,,,,
C0001,-0.261180,-0.011458,-0.061701,-0.321113,-1.041606,1.550878,-0.221044
C0002,-0.699369,-0.467494,-0.877744,-1.221132,0.776636,-1.148463,0.676665
C0003,0.728278,-0.467494,-0.405857,-1.221132,-0.132485,-0.248683,0.676665
C0004,-0.982071,1.356650,1.032547,1.478927,-1.041606,0.651097,1.574374
C0005,-0.289450,-0.923530,-0.783929,-1.221132,-1.041606,0.651097,-0.221044
...,...,...,...,...,...,...,...
C0196,-0.868990,-0.467494,0.829053,-0.321113,-0.132485,-1.148463,0.676665
C0197,-1.038612,-0.923530,-0.841689,-1.221132,-1.041606,0.651097,-0.221044
C0198,0.148738,-1.379566,-1.386975,-1.221132,-0.132485,-0.248683,-1.118753
C0199,-0.162234,-0.467494,-0.813993,-1.221132,-1.041606,0.651097,0.676665
C0200,-0.812450,-0.011458,0.706367,-0.321113,0.776636,-0.248683,-0.221044

In [208]:
from sklearn.neighbors import NearestNeighbors

knn = NearestNeighbors(n_neighbors = 4,metric = 'cosine')
knn.fit(standardized_df)

NearestNeighbors(metric='cosine', n_neighbors=4)

In [210]:
distances,indices = knn.kneighbors(standardized_df)

In [212]:
distances

array([[0.00000000e+00, 5.79538575e-02, 1.68469595e-01, 2.12105197e-01],
       [0.00000000e+00, 2.91996238e-02, 9.36989841e-02, 9.90414863e-02],
       [0.00000000e+00, 6.41013122e-02, 1.29423693e-01, 1.61181158e-01],
       [0.00000000e+00, 8.33526697e-02, 8.65541267e-02, 8.93234880e-02],
       [0.00000000e+00, 4.95346967e-02, 1.08644764e-01, 1.14685932e-01],
       [0.00000000e+00, 8.69255915e-02, 2.25929928e-01, 3.01458688e-01],
       [0.00000000e+00, 9.28026771e-02, 1.18534588e-01, 1.26922346e-01],
       [0.00000000e+00, 6.36346373e-02, 1.09046883e-01, 1.32997490e-01],
       [1.11022302e-16, 8.06298402e-02, 1.36620642e-01, 1.79534561e-01],
       [1.11022302e-16, 8.53773330e-02, 9.13554621e-02, 9.85173863e-02],
       [0.00000000e+00, 7.66840730e-02, 1.40512517e-01, 1.73653322e-01],
       [1.11022302e-16, 3.98678557e-02, 8.40875202e-02, 9.57110428e-02],
       [0.00000000e+00, 5.26769485e-02, 1.16298688e-01, 1.71564009e-01],
       [0.00000000e+00, 3.11325287e-03, 5.93171602e-03, 1.09470285e-02],
       [0.00000000e+00, 4.30648834e-02, 4.77156808e-02, 8.21355997e-02],
       [2.22044605e-16, 3.67171801e-04, 1.77011071e-02, 1.52344991e-01],
       [1.11022302e-16, 4.27275253e-02, 8.33526697e-02, 8.90431990e-02],
       [0.00000000e+00, 2.80529853e-01, 3.08803440e-01, 3.25457625e-01],
       [0.00000000e+00, 7.05090836e-02, 1.62881888e-01, 1.66076863e-01],
       [0.00000000e+00, 3.48219361e-02, 3.56795594e-02, 3.68710314e-02],
       [1.11022302e-16, 7.66178853e-02, 8.35105013e-02, 8.46154380e-02],
       [1.11022302e-16, 1.45873412e-01, 1.51118991e-01, 1.53152280e-01],
       [0.00000000e+00, 6.52655002e-02, 7.16093853e-02, 1.27378063e-01],
       [0.00000000e+00, 1.39709481e-01, 1.44649869e-01, 1.74910991e-01],
       [0.00000000e+00, 1.10614921e-01, 1.67455046e-01, 1.82389524e-01],
       [0.00000000e+00, 1.54280487e-01, 1.98457382e-01, 2.12997658e-01],
       [2.22044605e-16, 9.54396656e-02, 1.75121163e-01, 1.78092884e-01],
       [1.11022302e-16, 7.74151665e-04, 1.02086273e-01, 1.20198737e-01],
       [0.00000000e+00, 8.83498565e-02, 1.10501925e-01, 1.25118654e-01],
       [0.00000000e+00, 1.06862444e-01, 1.25082111e-01, 1.53391157e-01],
       [0.00000000e+00, 4.02426461e-02, 9.60973216e-02, 1.67360074e-01],
       [0.00000000e+00, 1.23589033e-01, 1.26265087e-01, 1.29557346e-01],
       [0.00000000e+00, 1.38192896e-02, 8.06786105e-02, 9.34972618e-02],
       [0.00000000e+00, 1.10432545e-01, 1.54242178e-01, 1.83597030e-01],
       [1.11022302e-16, 1.26922346e-01, 1.37302865e-01, 1.42265559e-01],
       [0.00000000e+00, 4.13976956e-02, 6.83503981e-02, 8.11011549e-02],
       [2.22044605e-16, 5.69693447e-02, 8.00886648e-02, 1.53983030e-01],
       [0.00000000e+00, 1.02203442e-01, 1.07648364e-01, 1.45555450e-01],
       [0.00000000e+00, 2.52930891e-02, 9.02416187e-02, 1.20608137e-01],
       [0.00000000e+00, 1.77109041e-01, 1.82220882e-01, 1.97267487e-01],
       [1.11022302e-16, 1.32207783e-01, 1.32607736e-01, 1.52478460e-01],
       [0.00000000e+00, 1.90812930e-02, 5.71751361e-02, 7.75359883e-02],
       [3.33066907e-16, 4.58892870e-02, 6.83503981e-02, 8.21355997e-02],
       [1.11022302e-16, 1.95538677e-01, 2.07197416e-01, 2.31190931e-01],
       [0.00000000e+00, 1.51113855e-01, 1.78663059e-01, 1.95419370e-01],
       [0.00000000e+00, 1.02087407e-01, 1.23026464e-01, 1.39131620e-01],
       [1.11022302e-16, 1.81473133e-01, 1.81964987e-01, 2.12151739e-01],
       [0.00000000e+00, 9.21394785e-02, 1.50293306e-01, 1.85577919e-01],
       [0.00000000e+00, 1.49325586e-01, 1.55867939e-01, 2.04401930e-01],
       [2.22044605e-16, 2.52167151e-02, 7.16968813e-02, 1.75219082e-01],
       [0.00000000e+00, 9.02416187e-02, 9.83848163e-02, 1.51916397e-01],
       [0.00000000e+00, 9.47605368e-02, 1.62132483e-01, 1.82389524e-01],
       [1.11022302e-16, 5.55294630e-02, 1.17746155e-01, 1.46536002e-01],
       [0.00000000e+00, 1.23713859e-01, 1.34644786e-01, 1.41188633e-01],
       [0.00000000e+00, 9.64232181e-02, 1.28068265e-01, 1.90099943e-01],
       [0.00000000e+00, 8.05200918e-02, 1.10432545e-01, 1.54499639e-01],
       [1.11022302e-16, 8.64124522e-02, 1.25158856e-01, 1.44673538e-01],
       [1.11022302e-16, 2.51569485e-02, 3.41505479e-02, 3.72387257e-02],
       [1.11022302e-16, 7.13607571e-02, 1.17323012e-01, 1.20608137e-01],
       [0.00000000e+00, 4.30648834e-02, 5.13442163e-02, 8.49116081e-02],
       [0.00000000e+00, 1.90812930e-02, 4.13691324e-02, 6.54401769e-02],
       [0.00000000e+00, 8.34439033e-02, 1.04393140e-01, 1.21481977e-01],
       [0.00000000e+00, 9.10568673e-02, 1.16247589e-01, 1.19320952e-01],
       [1.11022302e-16, 4.88486721e-02, 1.27573977e-01, 1.64880074e-01],
       [1.11022302e-16, 2.17919717e-02, 3.98678557e-02, 8.44252127e-02],
       [0.00000000e+00, 1.36903496e-01, 1.54280487e-01, 1.82220882e-01],
       [0.00000000e+00, 5.26769485e-02, 1.52399699e-01, 1.55867939e-01],
       [1.11022302e-16, 7.16093853e-02, 7.19373014e-02, 1.17603772e-01],
       [0.00000000e+00, 5.79538575e-02, 1.85577919e-01, 1.90099943e-01],
       [0.00000000e+00, 1.52485175e-01, 1.66076863e-01, 1.76797850e-01],
       [2.22044605e-16, 9.10568673e-02, 1.01841392e-01, 1.26969379e-01],
       [2.22044605e-16, 1.31980416e-01, 1.52344991e-01, 1.53195225e-01],
       [0.00000000e+00, 9.64055324e-02, 1.05547957e-01, 1.26763887e-01],
       [0.00000000e+00, 1.18363269e-01, 1.20455106e-01, 1.21835934e-01],
       [0.00000000e+00, 4.27275253e-02, 6.22922556e-02, 8.35105013e-02],
       [0.00000000e+00, 6.11875168e-02, 1.25972064e-01, 1.50587019e-01],
       [2.22044605e-16, 2.76743924e-02, 5.71751361e-02, 6.54401769e-02],
       [1.11022302e-16, 5.04603690e-02, 8.37891624e-02, 1.12886194e-01],
       [0.00000000e+00, 2.00747832e-01, 2.22587634e-01, 2.52197951e-01],
       [0.00000000e+00, 5.93171602e-03, 6.55495111e-03, 9.18410518e-03],
       [2.22044605e-16, 8.08728665e-02, 1.44467240e-01, 1.46692216e-01],
       [0.00000000e+00, 1.30560748e-01, 1.32607736e-01, 1.43715377e-01],
       [0.00000000e+00, 2.76743924e-02, 4.13691324e-02, 7.75359883e-02],
       [0.00000000e+00, 1.29282984e-01, 1.36453957e-01, 1.79215017e-01],
       [0.00000000e+00, 8.18508355e-02, 9.41586631e-02, 1.08894892e-01],
       [0.00000000e+00, 2.12064751e-03, 1.67895612e-01, 1.72507690e-01],
       [1.11022302e-16, 5.91898248e-02, 8.46154380e-02, 1.27378063e-01],
       [0.00000000e+00, 1.36671360e-01, 1.60761038e-01, 1.71372825e-01],
       [0.00000000e+00, 8.32136587e-02, 1.21921793e-01, 1.59441862e-01],
       [0.00000000e+00, 7.72346047e-02, 1.61857703e-01, 1.96481647e-01],
       [0.00000000e+00, 9.64232181e-02, 1.70269609e-01, 1.95772113e-01],
       [0.00000000e+00, 8.05200918e-02, 1.69767386e-01, 1.70913728e-01],
       [0.00000000e+00, 4.58661659e-02, 8.88939645e-02, 1.53152280e-01],
       [0.00000000e+00, 9.54396656e-02, 1.26265087e-01, 1.41920661e-01],
       [1.11022302e-16, 1.15359183e-02, 5.13442163e-02, 9.41586631e-02],
       [0.00000000e+00, 1.50293306e-01, 1.95239079e-01, 2.24677324e-01],
       [0.00000000e+00, 6.55495111e-03, 1.09470285e-02, 2.31084997e-02],
       [0.00000000e+00, 1.42536991e-01, 1.88668072e-01, 1.94226815e-01],
       [0.00000000e+00, 1.03670481e-01, 1.14179732e-01, 1.34849535e-01],
       [0.00000000e+00, 9.57390783e-02, 1.08763148e-01, 1.31620773e-01],
       [2.22044605e-16, 6.93444127e-02, 7.55366986e-02, 1.02086273e-01],
       [0.00000000e+00, 1.12258733e-01, 1.34644786e-01, 1.38119901e-01],
       [1.11022302e-16, 1.97890444e-01, 1.98692332e-01, 2.32686529e-01],
       [0.00000000e+00, 2.17919717e-02, 7.13607571e-02, 9.57110428e-02],
       [0.00000000e+00, 1.16298688e-01, 1.60538848e-01, 1.61767598e-01],
       [0.00000000e+00, 9.92669898e-02, 1.12277432e-01, 1.30533910e-01],
       [0.00000000e+00, 1.77011071e-02, 2.16311904e-02, 1.31980416e-01],
       [0.00000000e+00, 1.42458464e-01, 1.44649869e-01, 1.51690474e-01],
       [0.00000000e+00, 4.58661659e-02, 7.98150031e-02, 9.92015032e-02],
       [1.11022302e-16, 3.11325287e-03, 9.18410518e-03, 2.31084997e-02],
       [0.00000000e+00, 1.25118654e-01, 1.53391157e-01, 1.83286649e-01],
       [1.11022302e-16, 8.27634822e-02, 1.03756313e-01, 1.19539656e-01],
       [0.00000000e+00, 7.52746916e-02, 8.44252127e-02, 8.65541267e-02],
       [0.00000000e+00, 1.95525977e-01, 2.17832755e-01, 2.24677324e-01],
       [0.00000000e+00, 2.52167151e-02, 1.22798926e-01, 1.38374229e-01],
       [1.11022302e-16, 8.08728665e-02, 1.26213754e-01, 1.81964987e-01],
       [0.00000000e+00, 1.49927664e-01, 1.65715542e-01, 1.82229068e-01],
       [0.00000000e+00, 8.64124522e-02, 2.02197046e-01, 2.02201239e-01],
       [2.22044605e-16, 1.40213988e-02, 1.88521244e-01, 2.15073785e-01],
       [0.00000000e+00, 9.28026771e-02, 1.19539656e-01, 1.28068265e-01],
       [1.11022302e-16, 1.26969379e-01, 1.39961898e-01, 1.83296239e-01],
       [1.11022302e-16, 6.22922556e-02, 8.70156087e-02, 8.93234880e-02],
       [0.00000000e+00, 4.77156808e-02, 5.04603690e-02, 5.22365461e-02],
       [0.00000000e+00, 1.39709481e-01, 1.42458464e-01, 2.14109689e-01],
       [0.00000000e+00, 1.47194482e-01, 2.25227101e-01, 2.51588430e-01],
       [0.00000000e+00, 7.66840730e-02, 8.30480141e-02, 1.57395347e-01],
       [0.00000000e+00, 1.68469595e-01, 1.70980062e-01, 2.32183165e-01],
       [0.00000000e+00, 4.04382490e-02, 5.12609609e-02, 6.45269348e-02],
       [0.00000000e+00, 9.17287559e-02, 9.36081427e-02, 9.53226621e-02],
       [0.00000000e+00, 3.68710314e-02, 5.71712133e-02, 5.83041072e-02],
       [1.11022302e-16, 1.21125465e-01, 1.26109642e-01, 1.46990439e-01],
       [0.00000000e+00, 9.16301779e-02, 1.41920661e-01, 1.42612425e-01],
       [0.00000000e+00, 2.91996238e-02, 7.34276313e-02, 1.12277432e-01],
       [0.00000000e+00, 7.34276313e-02, 9.36989841e-02, 9.92669898e-02],
       [0.00000000e+00, 8.69255915e-02, 2.13997628e-01, 2.30559683e-01],
       [0.00000000e+00, 5.69693447e-02, 8.40875202e-02, 1.07648364e-01],
       [1.11022302e-16, 1.45555450e-01, 1.52545546e-01, 1.64880074e-01],
       [0.00000000e+00, 8.43583698e-02, 2.04662699e-01, 2.25020481e-01],
       [0.00000000e+00, 1.53524709e-01, 2.21641528e-01, 2.22090144e-01],
       [1.11022302e-16, 1.15359183e-02, 8.18508355e-02, 8.49116081e-02],
       [0.00000000e+00, 1.14903710e-01, 1.18153501e-01, 1.23026464e-01],
       [1.11022302e-16, 9.16301779e-02, 1.40512517e-01, 2.10992461e-01],
       [0.00000000e+00, 3.92404050e-02, 5.55294630e-02, 1.14903710e-01],
       [0.00000000e+00, 2.51569485e-02, 2.62642627e-02, 2.87281753e-02],
       [0.00000000e+00, 3.92404050e-02, 7.98150031e-02, 8.88939645e-02],
       [0.00000000e+00, 8.69055218e-02, 1.22798926e-01, 1.75219082e-01],
       [0.00000000e+00, 1.53524709e-01, 1.79064399e-01, 1.94683521e-01],
       [0.00000000e+00, 1.73224681e-01, 2.81511328e-01, 2.89828043e-01],
       [0.00000000e+00, 2.68635834e-01, 2.76975540e-01, 2.81221145e-01],
       [0.00000000e+00, 1.38192896e-02, 3.87231669e-02, 4.82197402e-02],
       [0.00000000e+00, 5.22365461e-02, 8.37891624e-02, 1.03870056e-01],
       [0.00000000e+00, 1.41957014e-01, 1.56062418e-01, 1.60825984e-01],
       [1.11022302e-16, 1.57395347e-01, 1.68403694e-01, 2.39813297e-01],
       [0.00000000e+00, 1.35621110e-01, 1.49196807e-01, 1.70980062e-01],
       [0.00000000e+00, 5.91898248e-02, 6.52655002e-02, 6.93444127e-02],
       [0.00000000e+00, 7.36127833e-02, 7.55366986e-02, 8.96001697e-02],
       [0.00000000e+00, 1.40213988e-02, 1.70465415e-01, 1.84185249e-01],
       [0.00000000e+00, 6.41013122e-02, 1.64209964e-01, 3.24089558e-01],
       [0.00000000e+00, 8.32136587e-02, 9.60973216e-02, 9.90414863e-02],
       [2.22044605e-16, 8.00886648e-02, 9.47605368e-02, 1.78229221e-01],
       [2.22044605e-16, 2.79587478e-01, 2.89325208e-01, 3.00809410e-01],
       [0.00000000e+00, 2.52930891e-02, 6.36346373e-02, 9.83848163e-02],
       [1.11022302e-16, 1.26949141e-01, 1.45156105e-01, 1.49830033e-01],
       [0.00000000e+00, 6.11875168e-02, 1.51340598e-01, 1.60825984e-01],
       [1.11022302e-16, 5.63397782e-02, 7.36127833e-02, 1.03670481e-01],
       [0.00000000e+00, 4.02426461e-02, 1.29423693e-01, 1.43152295e-01],
       [0.00000000e+00, 4.13976956e-02, 4.58892870e-02, 9.43923272e-02],
       [1.11022302e-16, 1.59269464e-01, 2.51588430e-01, 2.74555953e-01],
       [2.22044605e-16, 5.63397782e-02, 1.14179732e-01, 1.43715377e-01],
       [1.11022302e-16, 9.57390783e-02, 2.37698181e-01, 2.49053394e-01],
       [0.00000000e+00, 8.30480141e-02, 1.27573977e-01, 1.52485175e-01],
       [1.11022302e-16, 1.02203442e-01, 1.26213754e-01, 1.64602690e-01],
       [0.00000000e+00, 1.02087407e-01, 1.12258733e-01, 1.19682184e-01],
       [0.00000000e+00, 4.88486721e-02, 1.52545546e-01, 1.53878522e-01],
       [0.00000000e+00, 8.96001697e-02, 9.92015032e-02, 1.18153501e-01],
       [1.11022302e-16, 1.22234833e-01, 1.27721720e-01, 1.32415521e-01],
       [0.00000000e+00, 1.26109642e-01, 1.39961898e-01, 1.69275362e-01],
       [0.00000000e+00, 1.03074676e-01, 1.25972064e-01, 1.69652455e-01],
       [0.00000000e+00, 1.08763148e-01, 1.56062418e-01, 1.62821892e-01],
       [0.00000000e+00, 2.21689500e-01, 2.24365559e-01, 2.40625854e-01],
       [0.00000000e+00, 1.91446525e-01, 2.22587634e-01, 2.49053394e-01],
       [0.00000000e+00, 3.67171801e-04, 2.16311904e-02, 1.53195225e-01],
       [1.11022302e-16, 1.49325586e-01, 1.52399699e-01, 1.60538848e-01],
       [0.00000000e+00, 1.26786149e-01, 1.65229852e-01, 1.78078651e-01],
       [2.22044605e-16, 7.16968813e-02, 1.37302865e-01, 1.38374229e-01],
       [0.00000000e+00, 1.54462202e-01, 2.25929928e-01, 2.33627027e-01],
       [0.00000000e+00, 7.74151665e-04, 1.11743725e-01, 1.26423215e-01],
       [0.00000000e+00, 2.12064751e-03, 1.51340598e-01, 1.69652455e-01],
       [2.22044605e-16, 9.21394785e-02, 1.96343681e-01, 1.98574576e-01],
       [0.00000000e+00, 7.05090836e-02, 1.53878522e-01, 1.73653322e-01],
       [0.00000000e+00, 8.27634822e-02, 1.64184976e-01, 1.78459330e-01],
       [0.00000000e+00, 1.83533443e-01, 2.05629365e-01, 2.35359380e-01],
       [0.00000000e+00, 7.52746916e-02, 7.72346047e-02, 8.40639439e-02],
       [0.00000000e+00, 1.34940531e-01, 2.22303500e-01, 2.35367529e-01],
       [0.00000000e+00, 8.43583698e-02, 2.28997215e-01, 2.98460204e-01],
       [0.00000000e+00, 4.95346967e-02, 8.69055218e-02, 1.70079523e-01],
       [0.00000000e+00, 8.06298402e-02, 9.36081427e-02, 1.00697788e-01],
       [0.00000000e+00, 1.14685932e-01, 1.70079523e-01, 1.70465415e-01],
       [0.00000000e+00, 1.85234681e-01, 2.21265006e-01, 2.48590172e-01]])

In [214]:
customer_ids = standardized_df.index
lookalikes = {}

top_customers = [f'C{i:04d}' for i in range(1,21)]

for idx, customer_id in enumerate(customer_ids):
    if customer_id in top_customers:  
        similar_customers = customer_ids[indices[idx][1:4]]   
        similar_scores = 1 - distances[idx][1:4]  
       
       
        filtered_lookalikes = [(cust, score) for cust, score in zip(similar_customers, similar_scores)]
      
        lookalikes[customer_id] = filtered_lookalikes[:3]

In [216]:
lookalike_df = pd.DataFrame({
    'CustomerID':lookalikes.keys(),
    'Lookalikes':[str(v) for v in lookalikes.values()]
})

In [218]:
lookalike_df.to_csv('Kunal_Aggrawal_Lookalike.csv',index  = False)

In [220]:
print(lookalike_df)

   CustomerID                                         Lookalikes
0       C0001  [('C0069', 0.9420461425424875), ('C0127', 0.83...
1       C0002  [('C0133', 0.9708003762068924), ('C0134', 0.90...
2       C0003  [('C0158', 0.9358986877767855), ('C0166', 0.87...
3       C0004  [('C0017', 0.9166473303101038), ('C0113', 0.91...
4       C0005  [('C0197', 0.9504653033389729), ('C0140', 0.89...
5       C0006  [('C0135', 0.9130744084728438), ('C0187', 0.77...
6       C0007  [('C0120', 0.9071973228740203), ('C0005', 0.88...
7       C0008  [('C0162', 0.9363653626767949), ('C0113', 0.89...
8       C0009  [('C0198', 0.9193701598193349), ('C0077', 0.86...
9       C0010  [('C0042', 0.9146226670332455), ('C0061', 0.90...
10      C0011  [('C0126', 0.9233159269712548), ('C0142', 0.85...
11      C0012  [('C0065', 0.9601321443443637), ('C0136', 0.91...
12      C0013  [('C0067', 0.9473230514728169), ('C0105', 0.88...
13      C0014  [('C0110', 0.9968867471253288), ('C0080', 0.99...
14      C0015  [('C0060', 0.9569351166240931), ('C0123', 0.95...
15      C0016  [('C0183', 0.9996328281990986), ('C0107', 0.98...
16      C0017  [('C0075', 0.9572724747454819), ('C0004', 0.91...
17      C0018  [('C0125', 0.7194701466835168), ('C0168', 0.69...
18      C0019  [('C0191', 0.9294909163550187), ('C0174', 0.83...
19      C0020  [('C0110', 0.965178063869464), ('C0014', 0.964...

In [222]:
indices

array([[  0,  68, 126,  34],
       [  1, 132, 133, 158],
       [  2, 157, 165, 127],
       [  3,  16, 112, 121],
       [  4, 195, 139, 197],
       [  5, 134, 185, 170],
       [  6, 119,   4,  34],
       [  7, 161, 112,  38],
       [  8, 196,  76,  31],
       [  9,  41,  60,  76],
       [ 10, 125, 141, 189],
       [ 11,  64, 135, 103],
       [ 12,  66, 104,  15],
       [ 13, 109,  79,  96],
       [ 14,  59, 122,  42],
       [ 15, 181, 106,  71],
       [ 16,  74,   3, 192],
       [ 17, 124, 167,  86],
       [ 18, 189, 173,  69],
       [ 19, 109,  13, 129],
       [ 20, 154,  74,  86],
       [ 21, 144,  98,  92],
       [ 22, 154,  67,  86],
       [ 23, 123, 107,  45],
       [ 24, 127,  42,  51],
       [ 25,  65,   6, 119],
       [ 26,  93, 131,  62],
       [ 27, 186, 100, 155],
       [ 28,  82,  60, 110],
       [ 29,   9, 133, 110],
       [ 30, 165, 158,   1],
       [ 31,  82,  93,  77],
       [ 32, 149, 129,  57],
       [ 33,  55,  21,  98],
       [ 34,   6, 184,   4],
       [ 35, 166,  42, 122],
       [ 36, 135, 159,  37],
       [ 37, 171, 135, 136],
       [ 38, 161,  50,  58],
       [ 39,  73,  65, 175],
       [ 40,  16,  81,   3],
       [ 41,  60,  76,  82],
       [ 42, 166,  35,  14],
       [ 43, 196,  77,  73],
       [ 44, 101, 104,  53],
       [ 45, 172, 140, 174],
       [ 46, 159, 115, 171],
       [ 47, 188,  95,  68],
       [ 48, 182,  66,  33],
       [ 49, 114, 184, 145],
       [ 50,  38, 161, 121],
       [ 51, 159, 151,  24],
       [ 52, 142, 144, 140],
       [ 53, 140, 101, 172],
       [ 54,  90, 119,  68],
       [ 55,  91,  33,   9],
       [ 56, 117, 100,  67],
       [ 57, 143,  13,  19],
       [ 58, 103,  64,  38],
       [ 59,  14,  94, 139],
       [ 60,  41,  82,  76],
       [ 61, 143, 149,  32],
       [ 62,  70,  77,  14],
       [ 63, 173, 170, 136],
       [ 64, 103,  11, 112],
       [ 65, 119,  25,  39],
       [ 66,  12, 182,  48],
       [ 67,  22, 154,  20],
       [ 68,   0,  47,  54],
       [ 69, 170,  18, 189],
       [ 70,  62,  14, 120],
       [ 71, 106,  15, 181],
       [ 72, 109,  13,  79],
       [ 73, 149,  19,  57],
       [ 74,  16, 121,  20],
       [ 75, 163, 177,  37],
       [ 76,  82,  41,  60],
       [ 77, 122, 150,  35],
       [ 78, 183, 180, 169],
       [ 79,  13,  96, 109],
       [ 80, 115,  64,  11],
       [ 81, 164,  40, 168],
       [ 82,  76,  60,  41],
       [ 83,  67, 100, 154],
       [ 84, 139,  94,  14],
       [ 85, 187, 163, 177],
       [ 86, 154,  20,  22],
       [ 87,  28, 181,  15],
       [ 88, 158, 150, 122],
       [ 89, 192, 172,  74],
       [ 90,  54, 182,  44],
       [ 91,  55,   9,  28],
       [ 92, 108, 144,  21],
       [ 93,  26,  31, 131],
       [ 94, 139,  59,  84],
       [ 95,  47,  50, 113],
       [ 96,  79,  13, 109],
       [ 97, 108, 144,  92],
       [ 98, 164, 168, 144],
       [ 99, 169, 178,  58],
       [100, 154, 155,  27],
       [101, 172,  53,  20],
       [102, 133,   1, 132],
       [103,  64,  58,  11],
       [104,  12, 182,  66],
       [105, 133, 132,   1],
       [106,  15, 181,  71],
       [107, 123,  23,  45],
       [108,  92, 144, 174],
       [109,  13,  79,  96],
       [110,  28,  29,  82],
       [111, 190, 129, 119],
       [112, 192,  64,   3],
       [113,  44,  53,  95],
       [114,  49, 145, 184],
       [115,  80, 171,  46],
       [116, 109,  19,  79],
       [117,  56,  67, 100],
       [118, 156, 145, 197],
       [119,   6, 111,  54],
       [120,  70, 176,  62],
       [121,  74, 112,   3],
       [122,  14,  77, 150],
       [123,  23, 107,  45],
       [124, 111,  69, 167],
       [125,  10, 170, 152],
       [126,   0, 153,  90],
       [127,  96,  79,  13],
       [128, 139, 196,  94],
       [129,  19,  96, 149],
       [130, 122, 176,  77],
       [131, 141,  93,  77],
       [132,   1, 133, 105],
       [133, 132,   1, 105],
       [134,   5,  70,  62],
       [135,  36,  11,  37],
       [136,  37, 173,  63],
       [137, 194, 135,  11],
       [138, 146,  80, 170],
       [139,  94,  84,  59],
       [140, 142, 174,  45],
       [141, 131,  10,  93],
       [142, 144,  52, 140],
       [143,  57,  79,  96],
       [144, 142, 108,  92],
       [145, 195, 114,  49],
       [146, 138,  16,  80],
       [147, 162,  38, 113],
       [148,  66,  25,  39],
       [149,  32,  57, 143],
       [150, 122,  77,  35],
       [151, 135, 178, 163],
       [152, 125, 170, 138],
       [153,  38, 161, 126],
       [154,  86,  22, 100],
       [155, 164, 100, 174],
       [156, 118, 197, 145],
       [157,   2, 165, 128],
       [158,  88,  30,   1],
       [159,  36,  51, 135],
       [160,  20, 155,  23],
       [161,  38,   7,  50],
       [162,  58,  38,  99],
       [163,  75, 187, 151],
       [164, 168, 155,  98],
       [165,  30,   2, 158],
       [166,  35,  42,  14],
       [167,  22, 124, 189],
       [168, 164,  98,  81],
       [169,  99, 162, 180],
       [170, 125,  63,  69],
       [171,  37, 115, 135],
       [172,  45, 101, 174],
       [173,  63, 136, 189],
       [174, 155, 108, 140],
       [175, 149,  61,  57],
       [176, 130, 120, 173],
       [177, 158,  75, 187],
       [178,  99, 151, 135],
       [179, 161,   7,  50],
       [180, 116,  78, 169],
       [181,  15, 106,  71],
       [182,  48,  66, 104],
       [183, 166, 143, 149],
       [184,  49,  34, 114],
       [185,  36,   5, 135],
       [186,  27, 100, 155],
       [187,  85, 163, 177],
       [188,  47,  68, 145],
       [189,  18, 173,  10],
       [190, 111, 119,  73],
       [191,  69,  72, 170],
       [192, 112,  89,  74],
       [193, 105, 178,  52],
       [194, 137, 177, 185],
       [195,   4, 145, 197],
       [196,   8, 128,  32],
       [197,   4, 195, 156],
       [198, 142,  98,  55]], dtype=int64)